.container_aboutMe {
  margin-top: 160px;
  text-align: center;
  margin-bottom: 210px;
}

.container_aboutMe h2,
h4 {
  text-transform: uppercase;
}

.container_data {
  margin: 0 auto;
  width: 76%;
  max-width: 600px;
  padding: 5px;
}

.container_data h4 {
  padding: 5px;
  color: red;
}

.paragraphAboutMe {
  text-align: left;
}

.cv-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #6b21a8;
  color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative; 
  z-index: 11;
}

.cv-button:hover {
  background-color: #581c87;
  transform: translateY(-2px);
}

.cv-button:active {
  transform: translateY(0);
}

@media (max-width: 415px) {
  .container_aboutMe {
    margin-top: 90px;
    margin-bottom: 150px;
  }
}

.container_aboutMe {
  margin-top: 160px;
  text-align: center;
  margin-bottom: 210px;
  position: relative;  
  z-index: 10;        
}

