.containerContact_principal {
  text-align: center;
  padding-bottom: 300px;
}

.container_contact {
  font-size: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.container_contact a {
  transition: background 300ms ease, color 50ms ease;
  text-decoration: none;
}

.icon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; 
}

.spanIconos {
  font-size: 16px;
  color: inherit;
  margin-top: 5px;
}


.iconos {
  margin: 0 auto;
  justify-content: space-between;
  transition: 300ms ease-out, color 300ms ease;
  overflow: hidden;
}

.iconos:hover {
  transform: scale(1.1);
}

.containerContact_principal h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid #4a0675;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
  justify-content: center;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px auto 0;
  max-width: 500px;
  width: 90%;
}

.contact_form input,
.contact_form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  z-index: 1;
  transition: border 0.3s;
}

.contact_form input:focus,
.contact_form textarea:focus {
  border: 1px solid #4a0675;
}

.contact_form textarea {
  min-height: 120px;
  resize: none;
}

.contact_form button {
  background: #4a0675;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 1;
}

.contact_form button:hover {
  background: #34034f;
}

@media (max-width: 415px) {
  .containerContact_principal {
    padding: 20px;
  }
}
