.container_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.conatiner_navbar {
  top: 60px;
  transition: all ease 0.5s;
  width: 300px;
  position: absolute;
}

@media (max-width: 600px) {
  .conatiner_navbar {
    width: 250px;
  }
}

.conatiner_navbar-h2 {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background 300ms ease, color 300ms ease;
}

.conatiner_navbar-h2 a {
  scroll-behavior: smooth;
}

#darkBlue {
  background-color: #7b8076;
  color: white;
  transition: all ease 0.5s;
}

#lightll {
  background-color: #323153;
  color: white;
  transition: all ease 0.5s;
}

.initial {
  transform: translateX(-320px);
  transition: all ease 0.5s;
  display: grid;
  height: 100vh;
}

.active {
  display: grid;
  transform: translateY(0px);
  transition: all ease 0.5s;
}

.container_a {
  height: 300px;
  display: grid;
  margin: 0;
  padding: 0;
  align-items: center;
}

.container_a a {
  display: grid;
  justify-content: end;
  padding-right: 30px;
}

.changeMode {
  cursor: pointer;
  font-size: 20px;
  top: 5px;
  right: 0;
  position: fixed;
  padding: 10px;
  transition: background 300ms ease, color 300ms ease;
}

.icon {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px;
  transition: background 300ms ease, color 300ms ease;

  border: 1px solid;
  border-radius: 5px;
}

.iconX {
  cursor: pointer;
  font-size: 30px;
  border: 1px solid;
  width: 30px;
  border-radius: 5px;
  margin: 0 auto;
}

.iconX:hover {
  color: red;
}
