.container_tech {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 300px;
}

.container_tech h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid #4a0675;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
  justify-content: center;
}

.tech_swiper {
  width: 100%;
  padding: 20px 0;
}

.tech_slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.tech_slide i {
  font-size: 80px;
  color: #4db5ff;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tech_slide:hover i {
  color: #ffcc00;
  transform: scale(1.2);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  display: none !important;
}
.container_tech.dark {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.tech_item.dark {
  color: #fff;
}

.tech_item i {
  font-size: 3rem; 
  color: #61dafb; 
}

.container_tech.light {
  color: #111;
}

.tech_item.light {
  color: #000;
}

.tech_item p {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .tech_slide i {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  .tech_slide i {
    font-size: 50px;
  }
}
