.container_tech {
    width: 80%;
    /* max-width: 600px; */
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.container_tech h2 {
    display: flex;
    justify-content: center;
}

.container_tech-div {
    z-index: 2;
    border: 1px solid white;
    margin-bottom: 50px;
    font-size: 70px;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}

.div22 {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.div2222 {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}