.container_tech {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.container_tech h2 {
    display: flex;
    justify-content: center;
}

.container_tech-div {
    z-index: 2;
    border: 1px solid white;
    margin-bottom: 50px;
    flex-wrap: wrap;
    font-size: 70px;
    display: flex;
    justify-content: center;
}