.App {
  height: 100%;
  transition: background 300ms ease, color 300ms ease;
}

img {
  width: 70px;
  height: 100%;
}

.btn_es {
  border: none;
  cursor: pointer;
  z-index: 9998;
  transition: background 300ms ease, color 300ms ease;
}

.btn_en {
  border: none;
  cursor: pointer;
  z-index: 9998;
  transition: background 300ms ease, color 300ms ease;
}

#dark {
  background-color: #030729;
  color: white;
}

#light {
  background-color: #EAEAEA;
  color: black;
}

.div_app {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  margin-bottom: 100px;
  position: relative;
}

html {
  scroll-behavior: smooth;
}
