.App {
  height: 100%;
  transition: background 300ms ease, color 300ms ease;
}

img {
  width: 50px;
  height: 50px;
}

.btn_es {
  border: none;
  cursor: pointer;
  transition: background 300ms ease, color 300ms ease;
}

.btn_en {
  border: none;
  cursor: pointer;
  transition: background 300ms ease, color 300ms ease;
}

#dark {
  background-color: black;
  color: white;
}

#light {
  background-color: white;
  color: black;
}

.div_app {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  margin-bottom: 100px;

  position: relative;
}

html {
  scroll-behavior: smooth;
}